json_unit
json_benchmarks
json_benchmarks_simple
fuzz-testing

*.kate-swp

*.dSYM
*.o
*.gcno
*.gcda

build
build_coverage
clang_analyze_build

doc/xml
doc/html
me.nlohmann.json.docset

.idea
cmake-build-debug

test/test-*
